:host {
  max-height: 400px;
}

.item {
  display: flex;
  position:relative;
  flex-direction: column;
  //background: grey;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 25px;
  .quantity {
    display: flex;
    .numOfItems {
      cursor: default;
    }
    .add, .sub {
      cursor: pointer;
    }
  }
}
