* {
  box-sizing: border-box;
}
.main-section-wrapper{
  display: flex;
  //justify-content: center;
  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 690px;
  overflow-y: auto;
}
